.container {
    width: 400px;
    height: 120px;
    text-align: center;
    line-height: 1.5;
    border-color: #85C226 #F7c200 #4493A0 #DF127B;
    border-style: solid dotted groove double;
    border-width: 10px;
}