    
    * {
        box-sizing: border-box;
       margin: 0;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .container {
        width: calc(100% - 32px);
        margin-left: 32px;
    }
    
    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 60px;
        width: 100%;
        
    }
    
    .left-header {
        display: flex;
        justify-content: space-between;
        width: 250px;
        align-items: center;
    }
    
    .left-header>a {
        text-decoration: none;
        color: black;
    }
    
    .right-header {
        display: flex;
        width: 250px;
        justify-content: space-between;
    }
    
    .right-header>input {
        padding: 0px 5px;
    }

 /*banner*/

    .menu {
        margin-top: 80px;
        margin-left: 100px;
        display: flex;
        align-items: center;
        width: 400px;
        justify-content: space-between;
    }   
    
    .menu > a {
        text-decoration: none;
        color: black;
    }
    
    .product-desc p {
        text-align: justify;
    }

    .product-detail {
        margin-left: 100px;
        display: flex;
        justify-content: space-between;
    }

    .product-detail .left-product-detail {
        display: flex;
        margin-top: 10px;
        width: 400px;
    }

    .left-product-detail .picture-item-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .left-product-detail .right-product p {
        width: 100px;
        height: 40px;
        background-color: yellow;
        border-radius: 10px;
        text-align: center;
        line-height: 40px;
    }

    .product-detail .right-product-detail {
        width: 550px;
        margin-right: 100px;
    }

    .right-product-detail .product-name h2
    {
        margin-bottom: 10px;
    }
    
  
    .right-product-detail ul {
        padding: 0;
    }

    .right-product-detail ul li {
        list-style: none;
        display: inline-block;
        margin: 15px 5px 15px 0;
    }

    .right-product-detail .first {
        font-size: 30px;
        color: rgba(0, 128, 0, 0.919);
        font-weight: bold;
    }

    .right-product-detail .second {
        opacity: 0.5;
        font-size: 16px;
        align-items: center;
    }

    .right-product-detail .check {
        display: flex;
        align-items: center;
        width: 350px;
        gap: 10px;
        margin-bottom: 10px;
    }

    .right-product-detail .product-desc ul li {
        margin-right: 80px;
    }

    #Choice > select {
        width: 300px;
        height: 30px;
        padding: 0 10px;
        border-radius: 5px;
        margin: 10px;
    }

    #Choice > p {
        margin-top: 10px;
    }

    .quantity li {
        background-color: rgba(128, 128, 128, 0.851);
        width: 30px;
        height: 30px;
        border-radius: 5px;
        margin-right: 5px !important;
        text-align: center;
        line-height: 30px;
    }

    .right-product-detail .product-btn button{
        width: 150px;
        height: 40px;
        padding: 10px; 
        margin-right: 40px;
        margin-top: 10px;
        border-radius: 5px;
    }

    .right-product-detail .product-btn .btn-first {
        color: green;
    }

    .right-product-detail .product-btn .btn-second {
        color: white;
        background-color: rgba(0, 128, 0, 0.848);
    }

/*related-products*/
    .related-product {
        margin-left: 100px;
        margin-top: 40px;
    }

    .related-product .product-items {
        display: flex;
        width: 1250px;
        justify-content: space-between;
        margin-right: 100px;
        margin-top: 20px;
    }

    .related-product .product-items h3,
    .related-product .product-items .info {
        margin-top: 10px;
    }

    .related-product .related-picture {
        border: 1px solid #ccc;
        
    }

    .item-related .picture {
        position: relative;
    }

    .item-related .title {
        background-color: rgba(255, 166, 0, 0.916);
        width: 100px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        border-radius: 5px;
        position: absolute;
        margin-top: -335px;
        margin-left: 170px;
    }

    .item-related .info {
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 40px;
        align-items: center;
    }

    .item-related .info ul {
        padding: 0;
    }

    .item-related .info li {
        display: inline-block;
        margin-right: 5px;
    }

    .item-related .info .first {
        font-size: 30px;
        font-weight: 600;
    }

    .item-related .info .second {
        opacity: 0.5;  
    }

/*Benefit*/
    .benefit {
        width: 1200px;
        min-height: 40px;
    }
    
    .benefit-menu {
        margin-top: 80px;
        margin-left: 250px;
        padding: 0;
        
    }
    
    .benefit-menu > li{
        list-style: none;
        width: 180px;
        height: 30px;
        border-right: 1px solid #ccc;
        text-align: center;
        line-height: 30px;
        display: inline-block;
    }

    .benefit-container {
        margin-top: 40px;
        width: 100%;
        margin-left: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .left-container {
        width: 500px;
        height: 550px;
        margin-top: 90px;
    }

    .left-container .paragraph p,
    .left-container .paragraph h2,
    .left-container .paragraph h3
    {
        margin: 5px;
    }

    .left-container .paragraph {
        margin-bottom: 20px;
    }

    .right-container img {
        width: 500px;
        height: 600px;
    }
    

/*Ingradient*/
    .ingradient {
        margin-top: 40px;
        width: 1200px;
        margin-left: 100px;
    }  
    .box-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 25px;
    }

    .box-content .box-item {
        width: 30%;
    }

    .box-content .box-item > img {
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin-bottom: 10px;
    }

    .box-item .paragraph > h3
    {
       font-weight: 600;
       font-size: 18px;
    }

    .box-item .paragraph > p {
        margin-top: 0px;
        opacity: 0.7;
        line-height: 1.5;
    }

    .box-footer {
        width: 200px;
        height: 30px;
        border: 1px solid rgba(0, 128, 0, 0.816);
        text-align: center;
        line-height: 30px;
        margin: 15px auto;
        color: rgba(0, 128, 0, 0.816);
    }

    .how_to_use {
        margin-top: 40px;
        width: 1200px;
        margin-left: 100px;
    }

    .how_to_use > h2 {
        margin-bottom: 20px;
    }
    
    .how_to_use > img {
        width: 100%;
    }

    .reviews {
        margin-top: 40px;
        width: 1200px;
        min-height: 100px;
       
        margin-left: 100px;
    }

    .reviews-container {
        display: flex;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .right-reviews, .left-review {
        width: 50%;
    }

    .right-review-item {
        margin:15px;
    }

    .right-review-item .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        vertical-align: top;
    }

    .right-reviews .write {
        width: 150px;
        height: 30px;
        color: rgba(0, 128, 0, 0.816);
        border: 1px solid rgba(0, 128, 0, 0.816);
        text-align: center;
        line-height: 30px;
        margin-left: 75%;
    }

    .right-review-item .small {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-bottom: 10px;
    }

    .left-review h2 {
        margin-bottom: 10px;
        margin-top: 0;
    }

    .left-review p {
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: space-between;
        opacity: 0.8;
    }

    .left-review .text {
        font-size: 45px;
        font-weight: 600;
    }

    .review-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        margin: 15px auto;
    }

    .review-footer a {
        text-decoration: none;
        color: black;
    }

    .review-footer a:nth-child(3) {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid rgba(0, 128, 0, 0.816);
        text-align: center;
        line-height: 40px;
    }

/*  FAQS*/
    .faqs {
        width: 1200px;
        margin-left: 100px;
        min-height: 100px;
    }

    .faqs-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 15px;
    }

    .left-faqs, .right-faqs {
        width: 50%;
    }

    .left-faqs .left-item {
        display: flex;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.3);
        margin-bottom: 10px;
        width: 90%;
        padding:10px;
        border-radius: 10px;
        justify-content: space-between;
    }

    .right-faqs .right-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        border: 1px solid rgba(0, 0, 0, 0.3);
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 10px;
    }

/*footer*/
    .footer {
        width: 100%;
        background-color: black;
        margin-top: 40px;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 400px;
    }

    .left-footer {
        display: flex;
        justify-content: space-around;
        width: 50%;
        margin-left: 200px;
    }

    .left-footer ul {
        padding: 0;
    }

    .left-footer ul li {
        list-style: none;
        padding: 10px 0;
    }

    .left-footer ul li a {
        color: white;
        text-decoration: none;
        font-weight: 500;
    }
    
    .left-footer select {
        width: 100px;
        height: 30px;
        background: none;
        color: white;
        border-radius: 5px;
    }

    .left-footer select option {
        background-color: black;
    }
    
    .right-footer {
       width: 50%;
       margin-left: 200px;
    }
    .right-footer h2 {
        margin-bottom: 20px;
    }
    
    .right-footer .subcribe {
        width: 60%;
        border: 1px solid white;
        margin: 15px 0 20px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        gap: 10px;
        
    }

    .right-footer .subcribe input {
        background: none;
        border: none;
    }

    .right-footer .subcribe a {
        text-decoration: none;
        color: white;
        width: 40%;
        background-color:  rgba(0, 128, 0, 0.919);
        text-align: center;
        padding: 10px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .right-footer .subcribe svg {
       margin-left: 10px;
    }

    .right-footer .socaial-network img{
       margin-right: 8px;
       margin-bottom: 20px;
    }

    .right-footer .footer-desc {
        display: flex;
        margin-left: 15px;
    }

    .right-footer .footer-desc ul {
        display: flex;
        justify-content: space-around;
        width: 45%;
    }




    





    
    

   

    